

.main-contents
  .articles
    .articles-box

      = render partial: 'articles/article', locals: { article: @article }

      -# 仮置き記事
      .article
        .article__box
          %h2.article__box__title hello world!
          %p.article__box__text こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！
          .article__box__image
      .article
        .article__box
          %h2.article__box__title hello world!
          %p.article__box__text こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！
          .article__box__image
      .article
        .article__box
          %h2.article__box__title hello world!
          %p.article__box__text こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！
          .article__box__image
      .article
        .article__box
          %h2.article__box__title hello world!
          %p.article__box__text こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！
          .article__box__image
      .article
        .article__box
          %h2.article__box__title hello world!
          %p.article__box__text こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！
          .article__box__image
      .article
        .article__box
          %h2.article__box__title hello world!
          %p.article__box__text こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！
          .article__box__image
      .article
        .article__box
          %h2.article__box__title hello world!
          %p.article__box__text こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！
          .article__box__image
      .article
        .article__box
          %h2.article__box__title hello world!
          %p.article__box__text こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！こんにちは！
          .article__box__image


